/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background:  #4e4947;
  color: white;
  font-size: 30px;
  margin-left: 160px;
}

/* Page Content */
.content {
  padding:20px;
  margin-left: 160px;
}

/* The sidebar menu */
.sidenav {
 height: 100%; /* Full-height: remove this if you want "auto" height */
 width: 160px; /* Set the width of the sidebar */
 position: fixed; /* Fixed Sidebar (stay in place on scroll) */
 z-index: 1; /* Stay on top */
 top: 0; /* Stay at the top */
 left: 0;
 background-color: #111; /* Black */
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
 padding: 6px 8px 6px 16px;
 text-decoration: none;
 font-size: 25px;
 color: #818181;
 display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
 color: #f1f1f1;
}

/* Style page content */
.main {
 margin-left: 160px; /* Same as the width of the sidebar */
 padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0px;
}

.column p {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: Arial;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1200px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
//}

.Library {
   background-image: url('Datsun_Bonnet.jpg');
   padding-top: 0px;
   background-size: 100%;

}

.Library:hover {
  background-image: url('Battery_Tray.jpg');
  background-size:100%;

}
.button{
  height:250px;
  width: 100%;
  opacity: 0.0;
  filter: alpha(opacity=00);
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/*@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}*/
